{:kotoba.app/id "cloud.itonami.isic-0990", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihivfhxdenmnghny45cauppi7yrb72cftziypwoc7554efahajxzq", :kotoba.app/embed-url "ipfs://bafkreihivfhxdenmnghny45cauppi7yrb72cftziypwoc7554efahajxzq", :published {:archive "https://kotobase.net/ipfs/bafkreihivfhxdenmnghny45cauppi7yrb72cftziypwoc7554efahajxzq", :size 72067, :put-status 201, :get-status 200, :at "2026-08-15T13:55:23.395Z"}}
